
* {
   
}




.app {
    
   
    height:300px;                  
    width:300px;                   
    text-align:center;
      
	background:url(../img/cam2.jpg)    ; 
	
}



.iniciar{
	
 color: #fd2;
	
	
}