
* {
   
}



.app {
    
    position:absolute;             
    left:50%;
    top:20%;
    height:100px;                  
    width:100px;                   
    text-align:center;
    padding:10px 0px 0px 0px;     
    margin:-90px 0px 0px -112px;  
}

.imagem{
	
	background:url(../img/cam.jpg) no-repeat  ; 
	height:1500px   ;               
    width:1500px ; 
	text-align:center;
	left:50%;
    top:50%;
	
	
}

.iniciar{
	
 color: #fd2;
	
	
}